In [1]:
import pandas as pd
import numpy as np
import requests

In [2]:
url = 'https://www.skysports.com/championship-table'

header = {
  "User-Agent": "Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/50.0.2661.75 Safari/537.36",
  "X-Requested-With": "XMLHttpRequest"
}

r = requests.get(url, headers=header)

In [3]:
df = pd.read_html(r.text)[0]

df = df[['Team', 'Pts']]

In [4]:
i = np.arange(1,25,1)
df = df.set_index(i)

df

                    Team  Pts
1       Blackburn Rovers    6
2             Sunderland    4
3                Burnley    4
4                Watford    4
5        Birmingham City    4
6              Hull City    4
7       Sheffield United    3
8    Queens Park Rangers    3
9               Millwall    3
10               Reading    3
11          Cardiff City    3
12            Stoke City    3
13             Blackpool    3
14  West Bromwich Albion    2
15            Luton Town    2
16        Wigan Athletic    2
17     Preston North End    2
18         Coventry City    1
19      Rotherham United    1
20         Middlesbrough    1
21          Norwich City    1
22          Swansea City    1
23          Bristol City    0
24     Huddersfield Town    0

In [5]:
print("Promoted Clubs: ")
print(df['Team'][1])
print(df['Team'][2])
print()
print("Promotion Playoff Clubs: ")
print(df['Team'][3])
print(df['Team'][4])
print(df['Team'][5])
print(df['Team'][6])

Promoted Clubs:
Blackburn Rovers
Sunderland

Promotion Playoff Clubs:
Burnley
Watford
Birmingham City
Hull City

In [6]:
print("Relegated Clubs: ")
print(df['Team'][22])
print(df['Team'][23])
print(df['Team'][24])

Relegated Clubs:
Swansea City
Bristol City
Huddersfield Town