In [1]:
import pandas as pd
import numpy as np
import requests

In [2]:
url = 'https://www.skysports.com/league-1-table'

header = {
  "User-Agent": "Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/50.0.2661.75 Safari/537.36",
  "X-Requested-With": "XMLHttpRequest"
}

r = requests.get(url, headers=header)

In [3]:
df = pd.read_html(r.text)[0]

df = df[['Team', 'Pts']]

In [4]:
i = np.arange(1,25,1)
df = df.set_index(i)

df

                   Team  Pts
1   Peterborough United    6
2           Exeter City    4
3      Bolton Wanderers    4
4   Sheffield Wednesday    4
5     Charlton Athletic    4
6    Accrington Stanley    4
7          Ipswich Town    4
8        Bristol Rovers    3
9   Forest Green Rovers    3
10       Fleetwood Town    3
11    Wycombe Wanderers    3
12      Plymouth Argyle    3
13         Derby County    3
14        Oxford United    3
15             Barnsley    3
16     Cambridge United    3
17            Port Vale    3
18           Portsmouth    2
19         Lincoln City    2
20      Shrewsbury Town    1
21            Morecambe    1
22      Cheltenham Town    0
23   Milton Keynes Dons    0
24        Burton Albion    0

In [5]:
print("Promoted Clubs: ")
print(df['Team'][1])
print(df['Team'][2])
print()
print("Promotion Playoff Clubs: ")
print(df['Team'][3])
print(df['Team'][4])
print(df['Team'][5])
print(df['Team'][6])

Promoted Clubs:
Peterborough United
Exeter City

Promotion Playoff Clubs:
Bolton Wanderers
Sheffield Wednesday
Charlton Athletic
Accrington Stanley

In [6]:
print("Relegated Clubs: ")
print(df['Team'][21])
print(df['Team'][22])
print(df['Team'][23])
print(df['Team'][24])

Relegated Clubs:
Morecambe
Cheltenham Town
Milton Keynes Dons
Burton Albion